.tasks_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  color: var(--third-color);

  gap: 3rem;

  padding: 3rem;
  padding-bottom: 7rem;
}

.btnO-container {
  display: flex;
  flex-direction: row;
  background-color: var(--second-color);
  gap: 1rem;
  text-align: center;
}

.task-container {
  background-color: var(--fifth-color);
  border: 3px solid var(--third-color);
  border-radius: 10px;

  padding: 1.5rem;
}

.btnO {
  width: 5.7rem;
  border: 2px solid var(--third-color);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  text-align: center;
}

.task-container p {
  padding: 2rem;
  font-size: 1.2rem;
  background-color: var(--second-color);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.btn-create {
  color: var(--four-color);
  text-decoration: none;
  text-align: center;

  border: 3px solid var(--third-color);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 0.2rem var(--third-color);
  width: 30%;
}
