.home-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3rem
}

.tasks_container {  
    grid-column-start: 1;
    grid-column-end: 4;
    color: var(--third-color);
  }

  .btnO-container {
    grid-column-start: 3;
    grid-column-end: 4;
  }

.task-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  padding: 0.5rem;
}

.btnO {
  color: var(--third-color);
  border: 1px solid var(--third-color);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.7rem;
  cursor: pointer;
}

.task-container p {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0.5rem;
  padding-top: 0.7rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  gap: 1.5rem;
  cursor: pointer;
  width: 100%;
}

.btn-create {
  background-color: var(--second-color);

  color: var(--four-color);
  text-decoration: none;
  text-align: center;

  border: 2px solid var(--third-color);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 0.2rem var(--third-color);
  width: 30%;
}