.nav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 1.5rem;
}

.nav-container header {
  grid-column-start: 2;
  grid-column-end: 4;
}

.btn-nav {
  text-decoration: none;
  color: var(third-color);
  font-size: 3rem;

  grid-column-start: 4;
  display: flex;
  justify-content: flex-end;

  transition: 0.3s;
}

.icon {
  color: var(third-color);
  text-decoration: none;
}

.icon:hover {
  color: var(second-color);
  text-shadow: 0 0 25px #fff;
  transform: scale(1.05);
}
