*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
}

:root {
  --primary-color: #f7fce0;
  --second-color: #ffffff; 
  --third-color: #006983;
  --four-color: #0e0f0f;
  --fifth-color: #98faf5e0;
}